nav {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #ffffff;
  height: 80px;
  color: #000000;
  justify-content: space-between;
}

.logo {
  font-size: 3rem;
  width: 20%;
}

.link {
  display: flex;
  justify-content: center;
  width: 70%;
  gap: 5%;
}

.icons {
  width: 10%;
}

.shopping-cart {
  width: 1.5rem;
}
