.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.account-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 0 5rem;
  background-color: #f2f2f2;
  gap: 1rem;
  width: 100%;
  height: 5rem;
  margin: 0 0 5rem 0;
}

.account-header a {
  text-decoration: none;
  color: #303030;
}

.account-header-page p {
  opacity: 0.5;
}

.account-body,
.account-body form {
  padding: 2rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  border-radius: 1rem;
}

.account-body {
  margin: 0 0 5rem 0;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.email,
.password {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

form input {
  border: none;
  padding: 1rem;
  opacity: 0.5;
  width: 30rem;
  background-color: #ffffff;
}

.account-button {
  padding: 1rem 1rem 1rem 1rem;
  border: none;
  background-color: #333333;
  border-radius: 2rem;
  color: #ffffff;
  cursor: pointer;
  width: 10rem;
  margin: 1rem;
}

.enter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enter a {
  opacity: 0.5;
}

.view-account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0 10rem;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.welcome h1{
  font-size: 2rem;
}

.welcome a {
  color: #FFB400;
}

.account-details{
  padding: 5rem 0 0 0;
  display: flex;
  flex-direction: column;
}

.account-details h1 {
  font-size: 2rem;
}

.account-table {
  width: 100%; /* Make the table fill the container */
  border-collapse: collapse; /* Collapse borders */
}

.account-table td {
  padding: 8px; /* Add padding to table cells */
  border: 1px solid #ddd; /* Add border */
}

.account-table td:first-child {
  width: 150px; /* Fixed width for first column */
  font-weight: bold; /* Make label text bold */
}


